@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    margin : 5% 20%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #247ec7;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #515151;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

th {
    background-color: #247ec7;
    color: #fff;
    padding: 10px;
    border: none;
}

td {
    background-color: #e8e8e8;
    color: #515151;
    padding: 10px;
    border: none;
}

